# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

**/node_modules/

**/.ipynb_checkpoints/
data/
output/
*.log
**/__pycache__
*.csv
tmp/
guo/
i2i_output/
grid_search_output/
**/checkpoints/
cycada/imgs/
*.png
*.pdf
**/*_temp/
venv/
