Flask
waitress
torch
pytorch-lightning==1.6.0
Flask-RESTful
Flask-Cors
python-dotenv
opencv-python
Pillow
torchvision
pandas
pycocotools
albumentations==1.1.0
smilespe==0.0.3
rdkit-pypi==2021.3.2.2
python-levenshtein==0.12.2
timm
opennmt-py==2.2.0
git+https://github.com/thomas0809/MolScribe.git