#imagewrap{
    border: 1px solid lightgray;
}

#imagedisp{
    max-height: 250px;
    overflow-y: auto;
    text-align: center;
}

#mainimg{
    max-width: 100%;
}

#wrapper-inner{
    width: 100%;
    height: fit-content;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;

}

#original{
    width: 70%;
}

#pred{
    width: 90%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    display: block;
    padding-bottom: 20px;
    padding-left: 5%;
}


#ketcher{
    clear: both;
}

/*#wrap { width: 560px; height: 500px; padding: 0; overflow: hidden; }
#frame { width: 700px; height: 625px;}
#frame {
    transform: scale(0.8);
    transform-origin: 0 0;
    -webkit-transform: scale(0.8);
    -webkit-transform-origin: 0 0;
}*/

select{
    max-width: 40%;
    word-wrap: break-word;
}

h4 {
    margin-top: 10px !important;
}