#imagewrap{
    border: 1px solid lightgray;
}

#imagedisp{
    max-height: 250px;
    overflow-y: auto;
    text-align: center;
}

#mainimg{
    max-width: 100%;
}

#wrapper{
    width: 100%
}

#original{
    width: 50%;
    text-align: center;
    float: left;
}

#prediction{
    width: 50%;
    text-align: center;
    float: left;
}

select{
    max-width: 40%;
    word-wrap: break-word;
}