.imgviewer{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 560px;
  max-height: 500px;
  overflow-y: auto;
}

#inputimg{
  max-width: 100%;
}

span{
  margin-top: 3px;
}

#wrapper{
  width: 1350px;
  height: 800px;
}

#spacer{
  width: 0px;
}

#pdfselect{
  float:left;
  width: 600px;
}

#results{
  min-width: 650px;
  margin-top: 30px;
  overflow-y: auto;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

#resultButtons{
  text-align: right;
}

#resultBody{
  overflow-y: auto;
  overflow-x: hidden;
}