#pred{
  width: 90%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  display: block;
  margin-bottom: 20px;
  padding-right: 2%;
  padding-left: 2%;
  margin-left: 3%;
}